---
import Layout from '@/layouts/Layout.astro'
---

<Layout>
  <section class='h-screen flex flex-col place-content-center items-center'>
    <div class='flex flex-col items-end justify-between w-[720px]'>
      <div class='flex justify-between w-full'>
        <button class='btn'><a href='/'>Volver</a></button>
        <h1 class='text-9xl'>404</h1>
      </div>
      <h2 class='text-4xl'>PaÌgina no encontrada</h2>
    </div>
  </section>
</Layout>
