<section class='h-full w-full pb-40 2xl:px-0 px-8'>
  <div class='h-full flex flex-col mx-with place-content-center items-center'>
    <h1 class='text-[6rem]'>FAQ</h1>
    <div class='w-full'>
      <div
        class='collapse collapse-arrow bg-base-100 border border-base-300 z-[0]'
      >
        <input
          type='radio'
          name='my-accordion-2'
          checked='checked'
        />
        <h2 class='collapse-title font-semibold'>
          Cuantos es el tiempo de envio?
        </h2>
        <div class='collapse-content'>
          <h3>Santiago</h3>
          <p>
            Tiempo de envio dentro de <span class='uppercase font-bold'
              >Santiago</span
            > puede ser dentro 1 a 3 días hábiles
          </p>
          <div class='divider w-[100px]'></div>
          <h3>Regiónes</h3>
          <p>
            Tiempo de envio dentro de <span class='uppercase font-bold'
              >Regiónes</span
            > puede ser dentro 2 a 7 días hábiles
          </p>
        </div>
      </div>
      <div class='collapse collapse-arrow bg-base-100 border border-base-300'>
        <input
          type='radio'
          name='my-accordion-2'
        />
        <h2 class='collapse-title font-semibold'>
          Donde me puedo contactar para compras?
        </h2>
        <p class='collapse-content text-sm'>
          Puedes contactarnos a través de WhatsApp o correo electrónico.
        </p>
      </div>
      <div class='collapse collapse-arrow bg-base-100 border border-base-300'>
        <input
          type='radio'
          name='my-accordion-2'
        />
        <h2 class='collapse-title font-semibold'>
          Que metodos de pago aceptan?
        </h2>
        <p class='collapse-content text-sm'>
          Por el momento solo se aceptan, transferencias.
        </p>
      </div>
    </div>
  </div>
</section>
<style>
  h2 {
    font-size: 3rem;
  }

  h3 {
    font-size: 1.5rem;
  }
  p {
    font-size: 1.5rem;
    font-weight: 300;
  }

  @media (width >= 96rem) {
    p {
      font-size: 2rem;
    }

    h3 {
      font-size: 2.2rem;
    }
  }
</style>
