<!-- NAV DESKTOP -->
<nav
  class='2xl:flex w-full h-[100px] mx-with justify-between items-center hidden'
>
  <div class='flex w-full'>
    <a href='/'>
      <img
        src='/ephemera_v_3.png'
        alt=''
        width='100'
        height='100'
      />
    </a>
  </div>
  <ul
    class='flex justify-center border-2 border-gray-100 bg-[#f8f8f8] rounded-2xl p-[0.5rem]'
  >
    <li>
      <a
        href='#'
        class='btn'
        >Kit</a
      >
    </li>
    <li>
      <a
        href='#'
        class='btn'
        >Box</a
      >
    </li>
    <li>
      <a
        href='#'
        class='btn'
        >About Us</a
      >
    </li>
  </ul>
  <ul class='flex gap-5 w-full justify-end'>
    <li>
      <a href='https://wa.me/950038147'
        ><img
          src='/whatsapp.svg'
          alt=''
          width='40'
          height='40'
        /></a
      >
    </li>
    <li>
      <a href='https://www.instagram.com/ephemera_time/'
        ><img
          src='/instagram.svg'
          alt=''
          width='40'
          height='40'
        /></a
      >
    </li>
  </ul>
</nav>
<!-- END NAV DESKTOP -->
<!-- NAV MOBILE -->
<nav
  class='w-full h-[100px] flex justify-between 2xl:hidden py-8 fixed bg-white shadow-lg p-8 z-1'
>
  <div class='flex items-center'>
    <img
      src='/ephemera_v_3.png'
      alt=''
      width='100'
      height='100'
    />
  </div>
  <div class='flex items-center'>
    <div class='dropdown-bottom dropdown dropdown-end'>
      <div
        tabindex='0'
        role='button'
        class='btn m-1 bg-none w-full flex justify-end'
      >
        <img
          src='/bar.svg'
          alt=''
          width='30'
          height='30'
        />
      </div>
      <div class='flex flex-col dropdown-content menu'>
        <div
          class='rounded-box shadow-sm bg-base-100 z-[1] w-70 p-5 flex justify-between flex-col'
        >
          <ul
            tabindex='0'
            class='flex gap-2 flex-col'
          >
            <li><a>Item 1</a></li>
            <li><a>Item 2</a></li>
            <li><a>Item 2</a></li>
          </ul>
          <div class='divider p-5'></div>
          <div class='w-full items-center flex flex-row justify-evenly'>
            <a href=''
              ><img
                src='/whatsapp.svg'
                alt=''
                width='30'
                height='30'
              /></a
            >
            <a href=''
              ><img
                src='/instagram.svg'
                alt=''
                width='30'
                height='30'
              /></a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>

<style>
  .btn {
    border-radius: 1rem;
    padding: 1.5rem 0;
    width: 120px;
    border: none;
    background-color: transparent !important;
  }

  @media (width >= 96rem) {
    .btn:hover {
      background-color: #dfdfdf !important;
    }
  }
  a {
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: thin;
    padding: 1rem;
  }
</style>
