<nav class='flex w-full h-[100px] justify-between items-center'>
  <div class='flex w-full'>
    <a href='/'>
      <img
        src='/ephemera_v_3.png'
        alt=''
        width='100'
        height='100'
      />
    </a>
  </div>
  <ul class='flex w-full gap-5 justify-center'>
    <li>
      <a
        href='#'
        class='btn'
        >Kit</a
      >
    </li>
    <li>
      <a
        href='#'
        class='btn'
        >Box</a
      >
    </li>
    <li>
      <a
        href='#'
        class='btn'
        >About Us</a
      >
    </li>
  </ul>
  <ul class='flex gap-5 w-full justify-end'>
    <li>
      <a href='https://wa.me/950038147'
        ><img
          src='/whatsapp.svg'
          alt=''
          width='40'
          height='40'
        /></a
      >
    </li>
    <li>
      <a href='https://www.instagram.com/ephemera_time/'
        ><img
          src='/instagram.svg'
          alt=''
          width='40'
          height='40'
        /></a
      >
    </li>
  </ul>
</nav>
<style>
  .btn {
    padding: 2rem 1rem;
    width: 120px;
  }
  a {
    text-decoration: none;
    font-size: 2rem;
    font-weight: thin;
  }
</style>
